---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Password Protection">
  <main class="h-screen col-fcc">
    <div class="op-30">
      请输入密码
      <a href="https://t.me/chatgpt_nb" target="_blank">加Telegram群获取</a>
    </div>
    <div id="input_container" class="flex mt-4">
      <input
        id="username_input"
        placeholder="用户名"
        type="text"
        class="gpt-password-input"
        value="ninvfeng@qq.com"
      />
      <input
        id="password_input"
        placeholder="密码"
        type="password"
        class="gpt-password-input"
        value="asdfasdf"
      />
      <div id="submit" class="gpt-password-submit">
        <div class="i-carbon-arrow-right"></div>
      </div>
    </div>
  </main>
</Layout>

<script>
  const inputContainer = document.getElementById(
    "input_container"
  ) as HTMLDivElement;
  const username_input = document.getElementById(
    "username_input"
  ) as HTMLInputElement;
  const password_input = document.getElementById(
    "password_input"
  ) as HTMLInputElement;
  const submitButton = document.getElementById("submit") as HTMLDivElement;

  password_input.onkeydown = async (event) => {
    if (event.key === "Enter") {
      handleSubmit();
    }
  };
  submitButton.onclick = handleSubmit;

  async function handleSubmit() {
    const username = username_input.value;
    const password = password_input.value;
    const response = await fetch("/api/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        username: username,
        password: password,
      }),
    });
    const responseJson = await response.json();
    console.log(responseJson);
    if (responseJson.code === 200) {
      localStorage.setItem("token", responseJson.data.token);
      localStorage.setItem("user", JSON.stringify(responseJson.data));
      window.location.href = "/";
    } else {
      inputContainer.classList.add("invalid");
      setTimeout(() => {
        inputContainer.classList.remove("invalid");
      }, 300);
    }
  }
</script>

<style>
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(0.5rem);
    }
    75% {
      transform: translateX(-0.5rem);
    }
    100% {
      transform: translateX(0);
    }
  }

  .invalid {
    animation: shake 0.2s ease-in-out 0s 2;
  }
</style>
