<footer>
  <p mt-4 text-xs op-30>
    <span class="border-b border-slate border-none mt-2"
      >受接口速率限制,目前服务不稳定<br />如果你有空闲的OpenAI key或者域名,
      可邮件联系 <a
        class="text-slate border-none"
        href="mailto:ninvfeng@gmail.com"
        target="_blank"
      >
        ninvfeng@gmail.com
      </a><br />
      目前使用的key由vulkan提供, 感谢
    </span><br />
    <div class="text-xs op-30 mt-2">
      <a
        border-b
        border-slate
        border-none
        hover:border-dashed
        href="https://github.com/ninvfeng/chatgpt"
        target="_blank"
      >
        Github源码
      </a>
      <span px-1>|</span>
      <a
        border-b
        border-slate
        border-none
        hover:border-dashed
        href="https://t.me/chatgpt_nb"
        target="_blank"
      >
        Telegram
      </a>
      <span px-1>|</span>
      <a
        border-b
        border-slate
        border-none
        hover:border-dashed
        href="https://platform.openai.com/docs/guides/chat"
        target="_blank"
      >
        基于OpenAI接口
      </a>
    </div>
  </p>
</footer>
