<footer op-60>
  <p mt-6 text-sm text-slate>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://github.com/ninvfeng/chatgpt"
      target="_blank"
    >
      Github源码
    </a>
    <span px-1>|</span>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://t.me/chatgpt_nb"
      target="_blank"
    >
      Telegram
    </a>
    <span px-1>|</span>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://platform.openai.com/docs/guides/chat"
      target="_blank"
    >
      基于OpenAI开放接口
    </a>
  </p>
</footer>
