<footer>
  <p mt-8 text-xs>
    <div class="mt-2 text-xs text-gray-500 dark:text-gray-400">
      {
        import.meta.env.NOTICE_MESSAGE ? (
          <Fragment set:html={import.meta.env.NOTICE_MESSAGE} />
        ) : null
      }
    </div>
    <div class="text-xs op-30 mt-2">
      <a
        border-b
        border-slate
        border-none
        hover:border-dashed
        href="https://github.com/ninvfeng/chatgpt"
        target="_blank"
      >
        Github源码
      </a>
      <span px-1>|</span>
      <a
        border-b
        border-slate
        border-none
        hover:border-dashed
        href="https://t.me/chatgpt_nb"
        target="_blank"
      >
        Telegram
      </a>
      <span px-1>|</span>
      <a
        border-b
        border-slate
        border-none
        hover:border-dashed
        href="https://platform.openai.com/docs/guides/chat"
        target="_blank"
      >
        基于OpenAI接口
      </a>
    </div>
  </p>
</footer>
